/*
    Hello dear friend, I see you are a curious fella...
    Whether you want to create your own theme for Peertube or you want to check my CSS mastery...
    I will save you the struggle and tell you... 
    
    **This is the worst CSS I've done in my life**

    If you are a Peertube developer, please do something about this.
    The overriding of CSS classes is worst than if I were to install 20 copies of Bootsrap...
    __Well, at least #custom-css is a nice touch...__
*/

/* ================ STYLE ================ */
:root{
    --pirate-gold: #BB9645;
    --pirate-darkgold: #4b3c1c;
    --pirate-brown: #231f20;

    --pirate-darkgrey: hsl(225, 31%, 5%);
    --pirate-lightgrey: hsl(225, 31%, 10%);
    --pirate-mediumgrey: hsl(225, 31%, 40%);
    --pirate-mediumgrey2: #232b43;

    --pirate-font-headers: "Bai Jamjuree", sans-serif;
    --pirate-font-body: "Montserrat", sans-serif;

    --pirate-body: var(--pirate-lightgrey);
    --pirate-text: #e1e1e1;
    --pirate-header: var(--pirate-gold);
}

/* PEERTUBE'S VARIABLES OVERRIDE */
body{
    font-family: var(--pirate-font-body);
    color: var(--pirate-text);
    background-color: var(--pirate-body);
    margin: 0;
    padding: 0;

    /* Peertube's Variables */
    --mainColor: #BB9645;
    --mainColorLighter: hsl(41, 46%, 60%);
    --mainColorLightest: hsl(41, 46%, 80%);
    --mainHoverColor: var(--mainColorLighter);
    --mainBackgroundColor: var(--pirate-body);
    --mainForegroundColor: var(--pirate-text);
    --secondaryColor: var(--pirate-brown);
    --greyForegroundColor: var(--pirate-text);
    --greyBackgroundColor: var(--pirate-header);
    --menuBackgroundColor: var(--pirate-darkgrey);
    --menuForegroundColor: var(--pirate-header);
    --submenuBackgroundColor: var(--pirate-darkgrey);
    --channelBackgroundColor: var(--pirate-gold);
    --inputForegroundColor: #000;
    --inputBackgroundColor: #fff;
    --inputPlaceholderColor: var(--pirate-mediumgrey);
    --textareaForegroundColor: #000;
    --textareaBackgroundColor: #fff;
    --markdownTextareaBackgroundColor: #efefef;
    --actionButtonColor: var(--pirate-darkgold);
    --supportButtonBackgroundColor: var(--pirate-brown);
    --supportButtonColor: var(--actionButtonColor);
    --supportButtonHeartColor: var(--pirate-gold);
    --activatedActionButtonColor: var(--pirate-gold);

    background-image:  url('https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/pattern.png');
    background-size: contain;
    background-repeat: repeat;
    background-size: 200px;
}
#custom-css .sub-header-container{
    background: none;
}

/* ================ ELEMENTS ================ */
a{
    color: var(--mainColor);
    transition: color 0.2s ease;
}
a:hover{
    color: var(--mainColorLightest);
    transition: color 0.2s ease;
}
#custom-css .grey-button, #custom-css .delete-history{
    color: #1e1e1e;
}
#custom-css .top-buttons .delete-history my-global-icon .feather{
    color: #1e1e1e;
}
#custom-css .button-link{
    background-color: var(--mainColor);
}
#custom-css .peertube-select-container select{
    background-color: var(--mainColorLighter);
    color: #1e1e1e;
}
#custom-css .sub-header-container {
    margin-top: 200px;
}
#custom-css ngb-accordion .btn{
    background-color: var(--mainColor);
}
#custom-css .header h4{
    font-size: 20px;
    margin: 0.5rem 0;
}
#custom-css .playlist .playlist-info{
    background-color: var(--pirate-mediumgrey2);
}

/* ================ LAYOUT ================ */

#custom-css my-app > .peertube-container{
    padding-bottom: 0;
}

#custom-css ngb-modal-window {
    z-index: 18000 !important;
}
#custom-css .dropdown{
    z-index: 17601 !important;
}
#custom-css .privacy-concerns{
    z-index: 17601 !important;
}

/* ================ SECTIONS ================ */

/* HEADER */
#custom-css > my-app > .peertube-container > .header{
    height: 200px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--mainBackgroundColor);
    z-index: 17500;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#custom-css .top-left-block {
    z-index: 1;
    height: 120px;
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
}
#custom-css .top-left-block .icon-menu {
    background-color: var(--mainForegroundColor);
    margin: 0;
    position: absolute;
    left: 300px;
}

@media screen and (max-width: 800px) {
    #custom-css .top-left-block .icon-menu {
        right: 10%;
        left: initial;
    }
    #custom-css .header-right {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    #custom-css .top-left-block .icon-menu {
        left: 10%;
    }
}
#custom-css .header-right {
    height: initial;
    display: initial;
    align-items: initial;
    justify-content: initial;
    white-space: nowrap;
    flex: initial;
}
#custom-css .peertube-title .instance-name{
    display: none;
}
@media (min-width:500px){
    #custom-css .peertube-title .icon{
        display: none;
    }
}
#custom-css .peertube-title::after{
    content: "";
    width: 300px;
    height: 100px;
    margin-bottom: 25px;
    background-image: url("https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
@media screen and (max-width:500px) {
    #custom-css .peertube-title {
        display: initial;
        font-size: 20px;
    }
   }
#custom-css .icon-logo {
    /* background-image: url("/public/images/Pirate_Logo_Coin_Gold.png"); */
    background-image: url("https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/dog.png");
    width: 75px;
    height: 75px;
}

/* SIDEBAR */
#custom-css .menu-wrapper {
    position: fixed;
    height: 100vh;
    padding: 0;
    width: 240px;
    z-index: 17600;
    scrollbar-color: var(--actionButtonColor) var(--menuBackgroundColor);
    top: 0;
}

/* HERO SECTION */
#custom-css .custom-markup-container > div peertube-container:nth-child(1) .videos{
    display: block;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature{
    max-width: 100%;
    padding: 100px;
    font-size: 30px;
    border-image: url("https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/panel.png") 0 fill repeat;
}
@media (max-width: 800px) {
    #custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature{
        padding: 100px 20px;
        display: inline-block;
    }
}
#custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature > .video-miniature > my-video-thumbnail > .video-thumbnail{
    box-shadow: #000 0px 0px 10px;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature > .video-miniature > .video-bottom > .video-actions{
    display: none;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature > .video-miniature > .video-miniature-information{
    margin: 0;
    text-align: center;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature > .video-miniature > .video-bottom > .video-miniature-information > .video-miniature-meta > div > .video-miniature-name > .ng-star-inserted{
    display: block;
    text-align: center;
    width: 100%;
    color: #53281b;
}

/* HOTTEST VIDEOS SECTION */
#custom-css .custom-markup-container > div peertube-container:nth-child(2) .peertube-container{
    margin-top: 100px;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(2) .videos .video-wrapper > my-video-miniature > .video-miniature{
    border-image:  url("https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/paper.png") 0 fill;
    padding: 30px;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(2) .videos .video-wrapper > my-video-miniature > .video-miniature .video-thumbnail{
    border: solid 2px #5a3814;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(2)  .videos .video-wrapper > my-video-miniature > .video-miniature .video-bottom > .video-actions{
    display: hidden;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(2)  .videos .video-wrapper > my-video-miniature > .video-miniature .video-bottom .ng-star-inserted{
    color: #1e1e1e;
}

/* COURSES SECTION */
#custom-css .custom-markup-container > div peertube-container:nth-child(3) > .peertube-container{
    background-color: var(--pirate-darkgrey);
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    z-index: 1;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(3) > .peertube-container > h4 {
    text-align: center;
    margin-top: 75px;
    font-weight: bold;
    font-size: 30px;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(3) > .peertube-container > peertube-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
@media (max-width: 800px) {
    #custom-css .custom-markup-container > div peertube-container:nth-child(3) > .peertube-container > peertube-container{
        flex-wrap: wrap;
        overflow-y: auto;
    }
}
#custom-css .custom-markup-container > div peertube-container:nth-child(3) > .peertube-container::before{
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-image:  url('https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/wave.svg');
}
#custom-css .custom-markup-container > div peertube-container:nth-child(3) > .peertube-container::after{
    content: "";
    right: 0;
    bottom: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    background-image:  url('https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/ship.png');
    height: 100%;
    width: 100%;
    margin: 0 40px 50px 0;
    z-index: -1;
}
@media (max-width: 500px){
    #custom-css .custom-markup-container > div peertube-container:nth-child(3) > .peertube-container::after{
        margin: 0 0 50px 0;
        transform: translateX(40%);
        
    }
}

/* EXPLORE SECTION */
#custom-css .custom-markup-container > div peertube-container:nth-child(4) > .peertube-container{
    background-color: var(--pirate-mediumgrey2);
    margin-top: 100vh;
    position: absolute;
    height: 200vh;
    width: 100%;
    left: 0;
    justify-content: center;
    align-items: center;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(4) > .peertube-container > peertube-videos-list{
    margin: 50px auto 0;
    width: 70%;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(4) > .peertube-container::after{
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50%;
    width: 100%;
    background-image:  url('https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/wave.svg');
    -webkit-transform: scaleY(-1) translateY(-100%);
    transform: scale(-1) translateY(-100%);
    z-index: -1;
}

/* CALL TO ACTION SECTION */
#custom-css .custom-markup-container > div peertube-container:nth-child(5) > .peertube-container > h2{
    border-image: url("https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/panel.png") 0 fill repeat;
    padding: 100px;
    display: inline-block;
    text-shadow: #000 0px 0px 3px;
    margin: 350vh auto 100px;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: bold;
}
@media (max-width: 500px) {
    #custom-css .custom-markup-container > div peertube-container:nth-child(5) > .peertube-container > h2{
        padding: 100px 25px;
        text-align: center;
    }
}
#custom-css .custom-markup-container > div peertube-container:nth-child(5) > .peertube-container > h2 a{
    text-decoration: underline;
    color: #53281b;
}

/* FOOTER SECTION */
.main-col::after{
    content: "© Copyright 2021 • Pirate Chain • All rights reserved\APage made with ❤ by Luan Himmlisch";
    background-color: var(--pirate-darkgrey);
    white-space: pre; 
    display: block;
    padding: 10px 20px;
    text-align: center;
}