:root{
    --pirate-gold: #BB9645;
    --pirate-darkgold: #4b3c1c;
    --pirate-brown: #231f20;

    --pirate-darkgrey: hsl(225, 31%, 5%);
    --pirate-lightgrey: hsl(225, 31%, 10%);
    --pirate-mediumgrey: hsl(225, 31%, 40%);
    --pirate-mediumgrey2: hsl(225, 31%, 20%);

    --pirate-font-headers: "Bai Jamjuree", sans-serif;
    --pirate-font-body: "Montserrat", sans-serif;

    --pirate-body: var(--pirate-lightgrey);
    --pirate-text: #e1e1e1;
    --pirate-header: var(--pirate-gold);
}
body{
    font-family: var(--pirate-font-body);
    color: var(--pirate-text);
    background-color: var(--pirate-body);
    margin: 0;
    padding: 0;

    /* Peertube Variables */
    --mainColor: #BB9645;
    --mainColorLighter: hsl(41, 46%, 60%);
    --mainColorLightest: hsl(41, 46%, 80%);
    --mainHoverColor: var(--mainColorLighter);
    --mainBackgroundColor: var(--pirate-body);
    --mainForegroundColor: var(--pirate-text);
    --secondaryColor: var(--pirate-brown);
    --greyForegroundColor: var(--pirate-text);
    --greyBackgroundColor: var(--pirate-header);
    --menuBackgroundColor: var(--pirate-darkgrey);
    --menuForegroundColor: var(--pirate-header);
    --submenuBackgroundColor: var(--pirate-darkgrey);
    --channelBackgroundColor: var(--pirate-gold);
    --inputForegroundColor: #000;
    --inputBackgroundColor: #fff;
    --inputPlaceholderColor: var(--pirate-mediumgrey);
    --textareaForegroundColor: #000;
    --textareaBackgroundColor: #fff;
    --markdownTextareaBackgroundColor: #efefef;
    --actionButtonColor: var(--pirate-darkgold);
    --supportButtonBackgroundColor: var(--pirate-brown);
    --supportButtonColor: var(--actionButtonColor);
    --supportButtonHeartColor: var(--pirate-gold);
    --activatedActionButtonColor: var(--pirate-gold);

    background-image:  url('https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/pattern.png');
    background-size: contain;
    background-repeat: repeat;
    background-size: 200px;
}
#custom-css .sub-header-container{
    background: none;
}
a{
    color: var(--mainColor);
    transition: color 0.2s ease;
}
a:hover{
    color: var(--mainColorLightest);
    transition: color 0.2s ease;
}
#custom-css .grey-button, #custom-css .delete-history{
    color: #1e1e1e;
}
#custom-css .top-buttons .delete-history my-global-icon .feather{
    color: #1e1e1e;
}
#custom-css .button-link{
    background-color: var(--mainColor);
}
#custom-css .peertube-select-container select{
    background-color: var(--mainColorLighter);
    color: #1e1e1e;
}
#custom-css > my-app > .peertube-container > .header{
    height: 200px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--mainBackgroundColor);
    z-index: 17500;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#custom-css .top-left-block {
    z-index: 1;
    height: 120px;
    display: flex;
    align-items: center;
    min-width: 100%;
    justify-content: center;
}
#custom-css .top-left-block .icon-menu {
    background-color: var(--mainForegroundColor);
    margin: 0;
    position: absolute;
    left: 300px;
}

@media screen and (max-width: 800px) {
    #custom-css .top-left-block .icon-menu {
        right: 10%;
        left: initial;
    }
    #custom-css .header-right {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    #custom-css .top-left-block .icon-menu {
        left: 10%;
    }
}
#custom-css .header-right {
    height: initial;
    display: initial;
    align-items: initial;
    justify-content: initial;
    white-space: nowrap;
    flex: initial;
}
#custom-css .peertube-title .instance-name{
    display: none;
}
@media (min-width:500px){
    #custom-css .peertube-title .icon{
        display: none;
    }
}
#custom-css .peertube-title::after{
    content: "";
    width: 300px;
    height: 100px;
    margin-bottom: 25px;
    background-image: url("https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
@media screen and (max-width:500px) {
    #custom-css .peertube-title {
        display: initial;
        font-size: 20px;
    }
   }
#custom-css .icon-logo {
    /* background-image: url("/public/images/Pirate_Logo_Coin_Gold.png"); */
    background-image: url("https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/dog.png");
    width: 75px;
    height: 75px;
}
#custom-css .menu-wrapper {
    position: fixed;
    height: 100vh;
    padding: 0;
    width: 240px;
    z-index: 17600;
    scrollbar-color: var(--actionButtonColor) var(--menuBackgroundColor);
    top: 0;
}
#custom-css .sub-header-container {
    margin-top: 200px;
}
#custom-css ngb-modal-window {
    z-index: 18000 !important;
}
#custom-css ngb-accordion .btn{
    background-color: var(--mainColor);
}
body::after{
    content: "© Copyright 2021 • Pirate Chain • All rights reserved\APage made with ❤ by Luan Himmlisch";
    background-color: var(--pirate-darkgrey);
    white-space: pre; 
    display: block;
    padding: 10px 20px;
    text-align: center;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(1) .videos{
    display: block;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature{
    max-width: 100%;
    padding: 100px;
    font-size: 30px;
    border-image: url("https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/panel.png") 0 fill repeat;
}
@media (max-width: 800px) {
    #custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature{
        padding: 100px 20px;
        display: inline-block;
    }
}
#custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature > .video-miniature > my-video-thumbnail > .video-thumbnail{
    box-shadow: #000 0px 0px 10px;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature > .video-miniature > .video-bottom > .video-actions{
    display: none;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature > .video-miniature > .video-miniature-information{
    margin: 0;
    text-align: center;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(1) my-video-miniature > .video-miniature > .video-bottom > .video-miniature-information > .video-miniature-meta > div > .video-miniature-name > .ng-star-inserted{
    display: block;
    text-align: center;
    text-shadow: 1px 1px white, -1px -1px -10px #444;
    width: 100%;
}
#custom-css .custom-markup-container > div peertube-container:nth-child(2) .videos .video-wrapper > my-video-miniature > .video-miniature{
    padding: 20px;
    background-color: #b28355;
    border: 10px solid #53281b;
}

#custom-css .header h4{
    font-size: 20px;
    margin: 0.5rem 0;
}
#custom-css peertube-videos-list + h2{
    border-image: url("https://raw.githubusercontent.com/LuanHimmlisch/peertube-theme-arrr/master/public/images/panel.png") 0 fill repeat;
    padding: 100px;
    display: inline-block;
    width: max-content;
    text-shadow: #000 0px 0px 3px;
    margin-left: auto;
    margin-top: 100px;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: bold;
}
#custom-css peertube-videos-list + h2 a{
    text-decoration: underline;
    color: var(--pirate-brown);
}
#custom-css .dropdown{
    z-index: 17601 !important;
}